@charset "UTF-8";

body{
    background-color: rgb(8, 75, 119);
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    color: rgb(165, 42, 42);
}
h1#principal{
    text-align: center;
    background-color: rgb(165, 42, 42);
    color: white;
}

h2{
    color: rgb(78, 4, 4);
}

.basico {
    color: green; 
    font-weight: bold;

}

.intermediario {
    color: yellow;
}

.avancado {
    color: red;

}
